<div *ngIf="isLogged" class="container mx-auto mt-2 px-8 py-4">
  <div class="topnav mx-auto flex w-full flex-row justify-between">
    <div>
      <h1 class="text-2xl font-extrabold text-eBlack">Tarefas</h1>
      <div>
        <a class="text-eBlack underline" routerLink="">Dashboard</a> >
        <a class="text-eBlack" routerLink="/tasks">Tarefas</a>
      </div>
    </div>

    <!-- adicionar tarefa -->
    <button onclick="my_modal_1.showModal()"
      class="btn-secondary btn border-none bg-eBlue capitalize text-white hover:bg-eDarkBlue">
      <img src="../../assets/square-plus 1.svg" alt="" srcset="" />
      Nova tarefa
    </button>
  </div>

  <!-- display tasks container -->
  <div class="tasks-container mx-auto mt-4 rounded-lg bg-white">

    <!-- filters -->
    <div class="flex flex-row justify-end gap-x-4 p-4 flex-wrap max-md:justify-start max-md:gap-2">

      <!-- projetos -->
      <select [(ngModel)]="projetoSearch" name="projetoSearch" id="projetos"
        class="select-bordered select max-w-xs mob-width-100cent">
        <option value="default" disabled selected>Projetos</option>
        <ng-container *ngFor="let proj of arrayProjetos">
          <option>{{ proj }}</option>
        </ng-container>
      </select>

      <!-- status -->
      <select [(ngModel)]="statusSearch" name="statusSearch" class="select-bordered select max-w-xs mob-width-100cent">
        <option value="default" disabled selected>Status</option>
        <option>Não iniciada</option>
        <option>Em andamento</option>
        <option>Concluída</option>
      </select>

      <!-- prioridade -->
      <select [(ngModel)]="prioridadeSearch" name="prioridadeSearch"
        class="select-bordered select max-w-xs mob-width-100cent">
        <option value="default" disabled selected>Todas as Prioridades</option>
        <option>Alta</option>
        <option>Média</option>
        <option>Baixa</option>
      </select>

      <!-- lastNDays -->
      <select [(ngModel)]="lastNDays" name="prioridadeSearch" class="select-bordered select max-w-xs mob-width-100cent">
        <option value="default" disabled selected>Data:</option>
        <option value="90">Últimos 90 dias</option>
        <option value="30">Últimos 30 dias</option>
        <option value="70">Últimos 7 dias</option>
      </select>

      <button (click)="search()"
        class="btn-secondary btn border-none bg-eBlue capitalize text-white hover:bg-eDarkBlue">
        Aplicar filtros
      </button>
    </div>

    <!-- tarefas -->
    <div class="mx-auto w-full overflow-x-auto p-4 max-w-80cent">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th class="thead-labels">Tarefa</th>
            <th class="thead-labels">Prior.</th>
            <th class="thead-labels">Projeto</th>
            <th class="thead-labels">Status</th>
            <th class="thead-labels">Respons.</th>
            <th class="thead-labels">Deadline</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let task of tasks">
            <td class="w-28cent task cursor-pointer truncate underline"
              (click)="updateInputs(task.title, task.description, task.prioridade, task.status, task.prazo, task.responsavel, task.projeto, task.id)"
              onclick="viewModal.showModal()">{{task.title}}</td>

            <td class="w-8cent">
              <p class="rounded-lg  py-1 text-center text-white" [ngClass]="{
                'bg-eGreen': task.prioridade == 'Baixa',
                'bg-yellow-500': task.prioridade == 'Média',
                'bg-eRed': task.prioridade == 'Alta'
              }">{{task.prioridade}}</p>
            </td>

            <td
              (click)="updateInputs(task.title, task.description, task.prioridade, task.status, task.prazo, task.responsavel, task.projeto, task.id)"
              onclick="viewModal.showModal()" class="w-12cent task cursor-pointer truncate underline">{{task.projeto}}
            </td>

            <td class="w-8cent">
              <p class="rounded-lg px-1 truncate bg-eGreen py-1 text-center text-white max-w-60px " [ngClass]="{
                'bg-eRed': task.status == 'Não iniciada',
                'bg-yellow-500': task.status == 'Em andamento',
                'bg-eGreen': task.status == 'Concluída'
              }">{{task.status}}</p>
            </td>

            <td class="w-12cent task">{{task.responsavel}}</td>

            <td class="w-12cent  ">
              <p class="width112 truncate ">{{task.prazo}}</p>
            </td>

            <td class="w-12cent">
              <div class="flex flex-row gap-x-2">
                <!-- delete -->
                <img (click)="selectTarefa(task.id)" onclick="deleteModal.showModal()" class="w-5 cursor-pointer"
                  src="../../../assets/trash.svg" alt="" srcset="" />

                <!-- view -->
                <img
                  (click)="updateInputs(task.title, task.description, task.prioridade, task.status, task.prazo, task.responsavel, task.projeto, task.id)"
                  onclick="viewModal.showModal()" class="w-5 cursor-pointer" src="../../../assets/eye.svg" alt=""
                  srcset="" />

                <!-- edit -->
                <img
                  (click)="updateInputs(task.title, task.description, task.prioridade, task.status, task.prazo, task.responsavel, task.projeto, task.id)"
                  onclick="editModal.showModal()" class="w-5 cursor-pointer" src="../../../assets/blog-pencil.svg"
                  alt="" srcset="" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- modal criar tarefa -->
  <dialog id="my_modal_1" class="modal">
    <form method="dialog" class="modal-box">
      <!-- title -->
      <div class="flex items-center justify-center">
        <h3 class="modal-title-e text-lg font-bold text-eBlack">Criar tarefa</h3>
        <button id="closeBtn">
          <img class="close-x" src="../../assets/circle-xmark 1.svg" alt="" srcset="" />
        </button>
      </div>

      <!-- body -->
      <div class="w-full px-4">
        <div class="flex flex-col">
          <input [(ngModel)]="title" type="text" name="title" placeholder="Título da tarefa"
            class="input-bordered input mt-4 bg-white text-sm" />

          <textarea [(ngModel)]="description" name="description" class="textarea-bordered textarea mt-4"
            placeholder="Detalhes da tarefa"></textarea>

          <div class="flex w-full justify-between">
            <!-- prazo -->
            <input [(ngModel)]="prazo" name="prazo" type="date" placeholder="Prazo"
              class="w-48cent input-bordered input mt-4 bg-white" />

            <!-- prioridade -->
            <select [(ngModel)]="prioridade" name="prioridade" class="w-48cent select-bordered select mt-4 max-w-xs">
              <option disabled selected>Prioridade:</option>
              <option>Alta</option>
              <option>Média</option>
              <option>Baixa</option>
            </select>
          </div>

          <div class="flex w-full flex-wrap justify-between">
            <!-- responsavel -->
            <input [(ngModel)]="responsavel" name="responsavel" type="text" placeholder="Responsável"
              class="w-48cent input-bordered input mt-4 bg-white" />

            <!-- projeto -->
            <input [(ngModel)]="projeto" name="projeto" type="text" placeholder="Projeto"
              class="w-48cent input-bordered input mt-4 bg-white" />
          </div>

          <!-- status -->
          <select [(ngModel)]="status" name="status" class="select-bordered select mt-4 w-full">
            <option disabled selected>Status:</option>
            <option>Não iniciada</option>
            <option>Em andamento</option>
            <option>Concluída</option>
          </select>

          <!-- anexo -->
          <div class="mt-4 flex flex-col">
            <label for="dropzone-file"
              class="dark:hover:bg-bray-800 flex h-64 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100 ">
              <div class="flex flex-col items-center justify-center pb-6 pt-5">

                <img class="mb-3 h-10 w-10" src="../../assets/upload 1.svg" alt="" srcset="">

                <p class="mb-2 text-sm text-gray-500 ">
                  <span class="font-semibold">Anexar arquivo</span>
                </p>
                <p class="text-xs text-gray-500 ">A better way to tell which species are vulnerable</p>
              </div>
              <input id="dropzone-file" type="file" class="hidden" />
            </label>
          </div>
        </div>
      </div>

      <!-- footer -->
      <div class="modal-action justify-center gap-x-4">
        <button id="closeBtn"
          class="btn-secondary btn border-none bg-eDarkGrey capitalize text-eBlack hover:bg-eBlack hover:text-white">
          Cancelar
        </button>
        <a class="btn-secondary btn border-none bg-eBlue capitalize text-white hover:bg-eDarkBlue"
          (click)="createTask()">
          <img src="../../assets/square-plus 1.svg" alt="" srcset="" />
          Criar Tarefa
        </a>
      </div>
    </form>
  </dialog>

  <!-- modal de editar -->
  <dialog id="editModal" class="modal">

    <form method="dialog" class="modal-box ">


      <!-- title -->
      <div class="flex items-center justify-center">
        <h3 class="modal-title-e text-lg font-bold text-eBlack">Editar tarefa</h3>
        <button id="closeBtnEdit">
          <img class="close-x" src="../../assets/circle-xmark 1.svg" alt="" srcset="" />
        </button>
      </div>

      <!-- body -->
      <div class="w-full px-4">
        <div class="flex flex-col">
          <input [(ngModel)]="title" type="text" name="title" placeholder="Título da tarefa"
            class="input-bordered input mt-4 bg-white text-sm" />

          <textarea [(ngModel)]="description" name="description" class="textarea-bordered textarea mt-4"
            placeholder="Detalhes da tarefa"></textarea>

          <div class="flex w-full justify-between">
            <!-- prazo -->
            <input [(ngModel)]="prazo" name="prazo" type="date" placeholder="Prazo"
              class="w-48cent input-bordered input mt-4 bg-white" />

            <!-- prioridade -->
            <select [(ngModel)]="prioridade" name="prioridade" class="w-48cent select-bordered select mt-4 max-w-xs">
              <option disabled selected>Prioridade:</option>
              <option>Alta</option>
              <option>Média</option>
              <option>Baixa</option>
            </select>
          </div>

          <div class="flex w-full flex-wrap justify-between">
            <!-- responsavel -->
            <input [(ngModel)]="responsavel" name="responsavel" type="text" placeholder="Responsável"
              class="w-48cent input-bordered input mt-4 bg-white" />

            <!-- projeto -->
            <input [(ngModel)]="projeto" name="projeto" type="text" placeholder="Projeto"
              class="w-48cent input-bordered input mt-4 bg-white" />
          </div>

          <!-- status -->
          <select [(ngModel)]="status" name="status" class="select-bordered select mt-4 w-full">
            <option disabled selected>Status:</option>
            <option>Não iniciada</option>
            <option>Em andamento</option>
            <option>Concluída</option>
          </select>

          <!-- anexo -->
          <div class="mt-4 flex flex-col">
            <label for="dropzone-file"
              class="dark:hover:bg-bray-800 flex h-64 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100 ">
              <div class="flex flex-col items-center justify-center pb-6 pt-5">

                <img class="mb-3 h-10 w-10" src="../../assets/upload 1.svg" alt="" srcset="">

                <p class="mb-2 text-sm text-gray-500 ">
                  <span class="font-semibold">Anexar arquivo</span>
                </p>
                <p class="text-xs text-gray-500 ">A better way to tell which species are vulnerable</p>
              </div>
              <input id="dropzone-file" type="file" class="hidden" />
            </label>
          </div>
        </div>
      </div>

      <!-- footer -->
      <div class="modal-action justify-center gap-x-4">
        <button id="closeBtnEdit"
          class="btn-secondary btn border-none bg-eDarkGrey capitalize text-eBlack hover:bg-eBlack hover:text-white">
          Cancelar
        </button>
        <button id="closeBtnEdit"
          class="btn-secondary btn border-none bg-eBlue capitalize text-white hover:bg-eDarkBlue"
          (click)="updateTarefa()">
          <img src="../../assets/square-plus 1.svg" alt="" srcset="" />
          Editar
        </button>
      </div>

    </form>
  </dialog>

  <!-- modal de informações -->
  <dialog id="viewModal" class="modal">
    <form method="dialog" class="modal-box ">

      <!-- title -->
      <div class="flex items-center mb-4 justify-center">
        <h3 class="modal-title-e text-lg font-bold text-eBlack">Informações da tarefa</h3>
        <!-- <button id="closeBtn">
          <img class="close-x" src="../../assets/circle-xmark 1.svg" alt="" srcset="" />
        </button> -->
      </div>

      <div class="flex flex-col">
        <div class="flex flex-row">
          <div class="flex flex-col w-1/2">
            <p class="py-2"><span class="font-semibold">Titulo:</span> {{ this.title }}</p>
            <p class="py-2"><span class="font-semibold">ID:</span> {{ this.selectedID }}</p>
            <p class="py-2"><span class="font-semibold">Descrição:</span> {{ this.description }}</p>
          </div>
          <div class="flex flex-col w-1/2">
            <p class="py-2"><span class="font-semibold">Responsável:</span> {{ this.responsavel }}</p>
            <p class="py-2"><span class="font-semibold">Projeto:</span> {{ this.projeto }}</p>
            <p class="py-2"><span class="font-semibold">Prioridade:</span> {{ this.prioridade }}</p>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="flex flex-col w-1/2">
            <p class="py-2"><span class="font-semibold">Status:</span> {{ this.status }}</p>
            <p class="py-2"><span class="font-semibold">Prazo:</span> {{ this.prazo }}</p>
          </div>
        </div>
      </div>

      <div class="modal-action justify-center gap-x-4">
        <button (click)="clearInputs()" id="closeBtnEdit"
          class="btn-secondary btn border-none bg-eDarkGrey capitalize text-eBlack hover:bg-eBlack hover:text-white">Fechar</button>
      </div>
    </form>
  </dialog>

  <!-- modal de deletar -->
  <dialog id="deleteModal" class="modal">
    <form method="dialog" class="modal-box">
      <!-- title -->
      <div class="flex items-center justify-center">
        <h3 class="modal-title-e text-lg font-bold text-eBlack">Deletar tarefa</h3>
        <button id="deleteModalBtn">
          <img class="close-x" src="../../assets/circle-xmark 1.svg" alt="" srcset="" />
        </button>
      </div>
      <p class="my-4 mb-4 text-center">Tem certeza que quer deletar essa tarefa?</p>

      <!-- footer -->
      <div class="modal-action justify-center gap-x-4">
        <button (click)="selectTarefa('')" id="deleteModalBtn"
          class="btn-secondary btn border-none bg-eDarkGrey capitalize text-eBlack hover:bg-eBlack hover:text-white">Cancelar</button>
        <a class="btn-secondary btn border-none bg-eBlue capitalize text-white hover:bg-eDarkBlue"
          (click)="deleteTarefa()">Deletar</a>
      </div>

    </form>
  </dialog>
</div>

<!-- se nao estiver logado -->
<div *ngIf="!isLogged" class="container mx-auto flex h-screen w-full items-center justify-center">
  <app-loading></app-loading>
</div>