<div *ngIf="isLogged" class="container mx-auto mt-2 px-8 py-4">
  <div class="topnav mx-auto flex w-full flex-row justify-between">
    <div>
      <h1 class="text-2xl font-extrabold text-eBlack">Tarefas</h1>
      <div>
        <a class="text-eBlack underline" routerLink="">Dashboard</a> >
        <a class="text-eBlack" routerLink="/tasks">Tarefas</a>
      </div>
    </div>

    <!-- adicionar tarefa -->
    <button
      onclick="my_modal_1.showModal()"
      class="btn-secondary btn border-none bg-eBlue capitalize text-white hover:bg-eDarkBlue"
    >
      <img src="../../assets/square-plus 1.svg" alt="" srcset="" />
      Nova tarefa
    </button>
  </div>

  <!-- display tasks container -->
  <div class="tasks-container mx-auto mt-4 rounded-lg bg-white">
    <!-- filters -->
    <div class="flex flex-row justify-end gap-x-4 p-4">
      <!-- projetos -->
      <select
        [(ngModel)]="responsavelSearch"
        name="responsavelSearch"
        id="responsaveis"
        class="select-bordered select max-w-xs"
      >
        <option value="default" disabled selected>Projetos</option>
        <ng-container *ngFor="let res of arrayResponsaveis">
          <option>{{ res }}</option>
        </ng-container>
      </select>
      <!-- status -->
      <select [(ngModel)]="statusSearch" name="statusSearch" class="select-bordered select max-w-xs">
        <option value="default" disabled selected>Status</option>
        <option>Não iniciada</option>
        <option>Em andamento</option>
        <option>Concluída</option>
      </select>
      <!-- prioridade -->
      <select [(ngModel)]="prioridadeSearch" name="prioridadeSearch" class="select-bordered select max-w-xs">
        <option value="default" disabled selected>Todas as Prioridades</option>
        <option>Alta</option>
        <option>Média</option>
        <option>Baixa</option>
      </select>
      <!-- prioridade -->
      <select [(ngModel)]="prioridadeSearch" name="prioridadeSearch" class="select-bordered select max-w-xs">
        <option value="default" disabled selected>Prioridade:</option>
        <option>Alta</option>
        <option>Média</option>
        <option>Baixa</option>
      </select>
    </div>

    <!-- tarefas -->
    <div class="mx-auto w-full overflow-x-auto p-4">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th class="thead-labels">Tarefa</th>
            <th class="thead-labels">Prior.</th>
            <th class="thead-labels">Projeto</th>
            <th class="thead-labels">Status</th>
            <th class="thead-labels">Respons.</th>
            <th class="thead-labels">Deadline</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="w-28cent task cursor-pointer underline">Adjust concentrates to behaviour and str...</td>

            <td class="w-8cent">
              <p class="rounded-lg bg-eRed py-1 text-center text-white">Alta</p>
            </td>

            <td class="w-12cent task cursor-pointer underline">Gateway of Pac..</td>

            <td class="w-8cent">
              <p class="rounded-lg bg-eGreen py-1 text-center text-white">Conc..</p>
            </td>

            <td class="w-12cent task">Miles, Esther</td>

            <td class="w-12cent task">Wed 11 Aug</td>

            <td class="w-12cent">
              <img src="../../../assets/trash.svg" alt="" srcset="">
              <img src="../../../assets/eye.svg" alt="" srcset="">
              <img src="../../../assets/blog-pencil.svg" alt="" srcset="">
              

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- modal criar tarefa -->
  <dialog id="my_modal_1" class="modal">
    <form method="dialog" class="modal-box w-3/4 max-w-4xl">
      <h3 class="text-lg font-bold">Adicionar tarefa</h3>
      <div class="w-full">
        <div class="flex flex-col">
          <input
            [(ngModel)]="title"
            type="text"
            name="title"
            placeholder="Nome da tarefa"
            class="input-bordered input mt-4 bg-white"
          />

          <textarea
            [(ngModel)]="description"
            name="description"
            class="textarea-bordered textarea mt-4"
            placeholder="Descrição"
          ></textarea>

          <!-- responsavel -->
          <input
            [(ngModel)]="responsavel"
            name="responsavel"
            type="text"
            placeholder="Responsável"
            class="input-bordered input mt-4 bg-white"
          />

          <!-- projeto -->
          <input
            [(ngModel)]="projeto"
            name="projeto"
            type="text"
            placeholder="Projeto"
            class="input-bordered input mt-4 bg-white"
          />

          <div class="flex flex-wrap gap-x-2">
            <!-- prioridade -->
            <select [(ngModel)]="prioridade" name="prioridade" class="select-bordered select mt-4 max-w-xs">
              <option disabled selected>Prioridade:</option>
              <option>Alta</option>
              <option>Média</option>
              <option>Baixa</option>
            </select>

            <!-- status -->
            <select [(ngModel)]="status" name="status" class="select-bordered select mt-4 max-w-xs">
              <option disabled selected>Status:</option>
              <option>Não iniciada</option>
              <option>Em andamento</option>
              <option>Concluída</option>
            </select>

            <!-- prazo -->
            <input
              [(ngModel)]="prazo"
              name="prazo"
              type="date"
              placeholder="Prazo"
              class="input-bordered input mt-4 bg-white"
            />
          </div>
        </div>
      </div>
      <div class="modal-action">
        <button id="closeBtn" class="btn bg-red-500 text-white hover:bg-red-800 hover:text-white">Fechar</button>
        <a class="btn bg-green-500 text-white hover:bg-green-800 hover:text-white" (click)="createTask()">Adicionar</a>
      </div>
    </form>
  </dialog>

  <!-- modal de editar -->
  <dialog id="editModal" class="modal">
    <form method="dialog" class="modal-box w-3/4 max-w-4xl">
      <h3 class="text-lg font-bold">Adicionar tarefa</h3>
      <div class="w-full">
        <div class="flex flex-col">
          <input
            [(ngModel)]="title"
            type="text"
            name="title"
            placeholder="Nome da tarefa"
            class="input-bordered input mt-4 bg-white"
          />

          <textarea
            [(ngModel)]="description"
            name="description"
            class="textarea-bordered textarea mt-4"
            placeholder="Descrição"
          ></textarea>

          <!-- responsavel -->
          <input
            [(ngModel)]="responsavel"
            name="responsavel"
            type="text"
            placeholder="Responsável"
            class="input-bordered input mt-4 bg-white"
          />

          <!-- projeto -->
          <input
            [(ngModel)]="projeto"
            name="projeto"
            type="text"
            placeholder="Projeto"
            class="input-bordered input mt-4 bg-white"
          />

          <div class="flex flex-wrap gap-x-2">
            <!-- prioridade -->
            <select [(ngModel)]="prioridade" name="prioridade" class="select-bordered select mt-4 max-w-xs">
              <option disabled selected>Prioridade:</option>
              <option>Alta</option>
              <option>Média</option>
              <option>Baixa</option>
            </select>

            <!-- status -->
            <select [(ngModel)]="status" name="status" class="select-bordered select mt-4 max-w-xs">
              <option disabled selected>Status:</option>
              <option>Não iniciada</option>
              <option>Em andamento</option>
              <option>Concluída</option>
            </select>

            <!-- prazo -->
            <input
              [(ngModel)]="prazo"
              name="prazo"
              type="date"
              placeholder="Prazo"
              class="input-bordered input mt-4 bg-white"
            />
          </div>
        </div>
      </div>
      <div class="modal-action">
        <button id="closeBtnEdit" class="btn bg-red-500 text-white hover:bg-red-800 hover:text-white">Fechar</button>
        <a class="btn bg-green-500 text-white hover:bg-green-800 hover:text-white" (click)="updateTarefa()">Editar</a>
      </div>
    </form>
  </dialog>

  <!-- modal de informações -->
  <dialog id="viewModal" class="modal">
    <form method="dialog" class="modal-box w-3/4 max-w-4xl">
      <h3 class="text-lg font-bold">Informações da tarefa</h3>
      <div class="flex w-full flex-row">
        <div class="flex w-1/2 flex-col">
          <p class="py-2"><span class="font-semibold">Titulo:</span> {{ this.title }}</p>
          <p class="py-2"><span class="font-semibold">ID:</span> {{ this.selectedID }}</p>
          <p class="py-2"><span class="font-semibold">Descrição:</span> {{ this.description }}</p>
        </div>
        <div class="flex flex-col">
          <p class="py-2"><span class="font-semibold">Responsável:</span> {{ this.responsavel }}</p>
          <p class="py-2"><span class="font-semibold">Projeto:</span> {{ this.projeto }}</p>
          <p class="py-2"><span class="font-semibold">Prioridade:</span> {{ this.prioridade }}</p>

          <p class="py-2"><span class="font-semibold">Status:</span> {{ this.status }}</p>
          <p class="py-2"><span class="font-semibold">Prazo:</span> {{ this.prazo }}</p>
        </div>
      </div>
      <div class="modal-action">
        <button (click)="clearInputs()" id="closeBtnEdit" class="btn">Fechar</button>
      </div>
    </form>
  </dialog>

  <!-- modal de deletar -->
  <dialog id="deleteModal" class="modal">
    <form method="dialog" class="modal-box">
      <h3 class="text-lg font-bold">Deletar Tarefa</h3>
      <p class="py-4">Tem certeza que quer deletar essa tarefa?</p>
      <div class="modal-action">
        <button (click)="selectTarefa('')" id="deleteModalBtn" class="btn">Cancelar</button>
        <a class="btn bg-red-500 text-white" (click)="deleteTarefa()">Deletar</a>
      </div>
    </form>
  </dialog>
</div>

<!-- se nao estiver logado -->
<div *ngIf="!isLogged" class="container mx-auto flex h-screen w-full items-center justify-center">
  <app-loading></app-loading>
</div>
