<div *ngIf="isLogged" class="container mx-auto mt-2 ">
  <div class="topnav flex flex-row justify-between w-full mx-auto px-8 py-4">
    <!-- select project -->
    <!-- <div>
      <select class="select select-bordered w-full max-w-xs">
        <option disabled selected>Projeto:</option>
        <option>Han Solo</option>
        <option>Greedo</option>
      </select>
    </div> -->


  </div>

  <!-- search -->
  <div class="flex w-full mx-auto px-8 mt-2 gap-x-2 justify-between">
    <div class="flex   gap-x-2">
      <input [(ngModel)]="searchInput" name="searchInput" type="text" placeholder="Buscar por título"
        class="input input-bordered w-1/2" />

      <!-- responsavel -->
      <select [(ngModel)]="responsavelSearch" name="responsavelSearch" id="responsaveis"
        class="select select-bordered  max-w-xs">
        <option value="default" disabled selected>Responsável: </option>
        <option value="all">Todos</option>
        <ng-container *ngFor="let res of arrayResponsaveis">
          <option>{{res}}</option>
        </ng-container>
      </select>
      <!-- status -->
      <select [(ngModel)]="statusSearch" name="statusSearch" class="select select-bordered max-w-xs">
        <option value="default" disabled selected>Status: </option>
        <option value="all">Todos</option>
        <option>Não iniciada</option>
        <option>Em andamento</option>
        <option>Concluída</option>
      </select>
      <!-- prioridade -->
      <select [(ngModel)]="prioridadeSearch" name="prioridadeSearch" class="select select-bordered max-w-xs">
        <option value="default" disabled selected>Prioridade: </option>
        <option value="all">Todos</option>
        <option>Alta</option>
        <option>Média</option>
        <option>Baixa</option>
      </select>

      <button (click)="search()" class="btn btn-secondary">
        <fa-icon class="text-white text-xl" [icon]="faSearch"></fa-icon>
      </button>
    </div>

    <!-- adicionar tarefa -->
    <button onclick="my_modal_1.showModal()" class="btn btn-secondary text-white">
      Adicionar tarefa
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>


  <!-- divider -->
  <div class="flex flex-col w-full mx-auto px-8 border-opacity-50">
    <div class="divider"></div>
  </div>

  <!-- tasks container -->

  <div class="overflow-x-auto w-full mx-auto px-8">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>

          <th>Tarefa</th>
          <th>Membros</th>
          <th>Prazo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <!-- individual tasks -->
        <tr *ngFor="let task of tasks">
          <td>
            <div class="flex items-center space-x-3">

              <div>
                <div class="font-bold">{{task.title}}</div>
                <div class="flex gap-x-1">
                  <span class="badge badge-sm text-white"
                    [ngClass]="{'badge-error text-white': task.prioridade === 'Alta', 'badge-warning text-white': task.prioridade === 'Média', 'badge-success text-white': task.prioridade === 'Baixa' }">{{task.prioridade}}</span>
                  <span class="badge badge-ghost badge-sm">{{task.status}}</span>
                  <span class="badge badge-ghost badge-sm">{{task.projeto}}</span>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="font-bold">{{task.responsavel}}</div>
          </td>
          <td>{{task.prazo}}</td>
          <th>
            <button
              (click)="updateInputs(task.title, task.description, task.prioridade, task.status, task.prazo, task.responsavel, task.projeto, task.id)"
              onclick="viewModal.showModal()" class="btn btn-ghost btn-xs"><fa-icon [icon]="faInfo"></fa-icon></button>
            <button
              (click)="updateInputs(task.title, task.description, task.prioridade, task.status, task.prazo, task.responsavel, task.projeto, task.id)"
              onclick="editModal.showModal()" class="btn btn-ghost btn-xs"><fa-icon [icon]="faEdit"></fa-icon></button>
            <button (click)="selectTarefa(task.id)" onclick="deleteModal.showModal()"
              class="btn btn-ghost btn-xs"><fa-icon [icon]="faDelete"></fa-icon></button>
          </th>
        </tr>
        <!-- individual tasks -->
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th>Tarefa</th>
          <th>Membros</th>
          <th>Prazo</th>
          <th></th>
        </tr>
      </tfoot>

    </table>
  </div>


  <!-- modal criar tarefa -->
  <dialog id="my_modal_1" class="modal">
    <form method="dialog" class="modal-box  w-3/4 max-w-4xl">
      <h3 class="font-bold text-lg">Adicionar tarefa</h3>
      <div class="w-full   ">
        <div class="flex flex-col">
          <input [(ngModel)]="title" type="text" name="title" placeholder="Nome da tarefa"
            class="input input-bordered  bg-white mt-4  " />

          <textarea [(ngModel)]="description" name="description" class="textarea textarea-bordered mt-4"
            placeholder="Descrição"></textarea>

          <!-- responsavel -->
          <input [(ngModel)]="responsavel" name="responsavel" type="text" placeholder="Responsável"
            class="input input-bordered  bg-white mt-4  " />

          <!-- projeto -->
          <input [(ngModel)]="projeto" name="projeto" type="text" placeholder="Projeto"
            class="input input-bordered  bg-white mt-4  " />


          <div class="flex flex-wrap gap-x-2">
            <!-- prioridade -->
            <select [(ngModel)]="prioridade" name="prioridade" class="select select-bordered  max-w-xs mt-4">
              <option disabled selected>Prioridade: </option>
              <option>Alta</option>
              <option>Média</option>
              <option>Baixa</option>
            </select>

            <!-- status -->
            <select [(ngModel)]="status" name="status" class="select select-bordered  max-w-xs mt-4">
              <option disabled selected>Status: </option>
              <option>Não iniciada</option>
              <option>Em andamento</option>
              <option>Concluída</option>
            </select>

            <!-- prazo -->
            <input [(ngModel)]="prazo" name="prazo" type="date" placeholder="Prazo"
              class="input input-bordered  bg-white mt-4  " />

          </div>


        </div>



      </div>
      <div class="modal-action">

        <button id="closeBtn" class="btn bg-red-500 text-white hover:bg-red-800 hover:text-white">Fechar</button>
        <a class="btn bg-green-500 hover:bg-green-800 hover:text-white text-white" (click)="createTask()">Adicionar</a>
      </div>
    </form>
  </dialog>

  <!-- modal de editar -->
  <dialog id="editModal" class="modal">
    <form method="dialog" class="modal-box  w-3/4 max-w-4xl">
      <h3 class="font-bold text-lg">Adicionar tarefa</h3>
      <div class="w-full   ">
        <div class="flex flex-col">
          <input [(ngModel)]="title" type="text" name="title" placeholder="Nome da tarefa"
            class="input input-bordered  bg-white mt-4  " />

          <textarea [(ngModel)]="description" name="description" class="textarea textarea-bordered mt-4"
            placeholder="Descrição"></textarea>

          <!-- responsavel -->
          <input [(ngModel)]="responsavel" name="responsavel" type="text" placeholder="Responsável"
            class="input input-bordered  bg-white mt-4  " />

          <!-- projeto -->
          <input [(ngModel)]="projeto" name="projeto" type="text" placeholder="Projeto"
            class="input input-bordered  bg-white mt-4  " />


          <div class="flex flex-wrap gap-x-2">
            <!-- prioridade -->
            <select [(ngModel)]="prioridade" name="prioridade" class="select select-bordered  max-w-xs mt-4">
              <option disabled selected>Prioridade: </option>
              <option>Alta</option>
              <option>Média</option>
              <option>Baixa</option>
            </select>

            <!-- status -->
            <select [(ngModel)]="status" name="status" class="select select-bordered  max-w-xs mt-4">
              <option disabled selected>Status: </option>
              <option>Não iniciada</option>
              <option>Em andamento</option>
              <option>Concluída</option>
            </select>

            <!-- prazo -->
            <input [(ngModel)]="prazo" name="prazo" type="date" placeholder="Prazo"
              class="input input-bordered  bg-white mt-4  " />

          </div>


        </div>



      </div>
      <div class="modal-action">

        <button id="closeBtnEdit" class="btn bg-red-500 text-white hover:bg-red-800 hover:text-white">Fechar</button>
        <a class="btn bg-green-500 hover:bg-green-800 hover:text-white text-white" (click)="updateTarefa()">Editar</a>
      </div>
    </form>
  </dialog>


  <!-- modal de informações -->
  <!-- modal de editar -->
  <dialog id="viewModal" class="modal">
    <form method="dialog" class="modal-box  w-3/4 max-w-4xl">
      <h3 class="font-bold text-lg">Informações da tarefa</h3>
      <div class="w-full  flex flex-row ">
        <div class="flex w-1/2 flex-col">
          <p class="py-2"><span class="font-semibold">Titulo:</span> {{this.title}}</p>
          <p class="py-2"><span class="font-semibold">ID:</span> {{this.selectedID}}</p>
          <p class="py-2"><span class="font-semibold">Descrição:</span> {{this.description}}</p>
        </div>
        <div class="flex flex-col">
          <p class="py-2"><span class="font-semibold">Responsável:</span> {{this.responsavel}}</p>
          <p class="py-2"><span class="font-semibold">Projeto:</span> {{this.projeto}}</p>
          <p class="py-2"><span class="font-semibold">Prioridade:</span> {{this.prioridade}}</p>

          <p class="py-2"><span class="font-semibold">Status:</span> {{this.status}}</p>
          <p class="py-2"><span class="font-semibold">Prazo:</span> {{this.prazo}}</p>
        </div>



      </div>
      <div class="modal-action">

        <button (click)="clearInputs()" id="closeBtnEdit" class="btn ">Fechar</button>

      </div>
    </form>
  </dialog>

  <!-- modal de deletar -->
  <dialog id="deleteModal" class="modal">
    <form method="dialog" class="modal-box">
      <h3 class="font-bold text-lg">Deletar Tarefa</h3>
      <p class="py-4">Tem certeza que quer deletar essa tarefa?</p>
      <div class="modal-action">
        <button (click)="selectTarefa('')" id="deleteModalBtn" class="btn">Cancelar</button>
        <a class="btn bg-red-500 text-white" (click)="deleteTarefa()">Deletar</a>
      </div>

    </form>
  </dialog>

</div>


<!-- se nao estiver logado -->
<div *ngIf="!isLogged" class="w-full h-screen container mx-auto flex justify-center items-center">
  <app-loading></app-loading>
</div>