<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col items-center justify-center">
    <!-- Page content here -->
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label>

  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" class="drawer-overlay"></label>

    <ul class="menu p-4 w-60 h-full bg-slate-50  gap-y-16 flex flex-col justify-between items-center ">
      <img src="../../../assets/logo.svg" alt="Logo eTasks" class="w-8/12" srcset="">



      <div class="flex flex-col justify-around gap-y-4">

        <div>
          <!-- Sidebar content here -->
          <li class=" rounded-md "><a id="sidebarItem"
              class="text-new-black font-medium  rounded-md  hover:text-new-black text-base   " routerLink=""><fa-icon
                [icon]="faChartLine"></fa-icon>
              Dashboard</a>
          </li>
          <li class=" rounded-md "><a id="sidebarItem"
              class="text-new-black font-medium  rounded-md  hover:text-new-black text-base  "
              routerLink="tasks"><fa-icon [icon]="faListCheck"></fa-icon>
              Tarefas</a>
          </li>
          <li class=" rounded-md "><a id="sidebarItem"
              class="text-new-black font-medium  rounded-md  hover:text-new-black text-base  "
              routerLink="projects"><fa-icon [icon]="faFolder"></fa-icon>
              Projetos</a>
          </li>
          <li class=" rounded-md "><a id="sidebarItem"
              class="text-new-black font-medium  rounded-md  hover:text-new-black text-base  "
              routerLink="team"><fa-icon [icon]="faCircleUser"></fa-icon>
              Time</a>
          </li>
        </div>

      </div>

      <button type="button" class="btn self-start btn-outline btn-error btn-sm mt-20" (click)="logout()">Sair</button>

    </ul>

  </div>
</div>