<div class="container mx-auto mt-2 px-8 py-4
" *ngIf="isLogged">
  <!-- <p>dashboard works!</p> -->
  <div class="topnav mx-auto flex w-full flex-row justify-between items-center max-md:flex-col max-md:items-start">
    <div>
      <h1 class="text-2xl font-extrabold text-eBlack">Olá {{this.email}},</h1>
      <p class="text-eBlack">Bem-vindo ao seu gestor de tarefas!</p>
    </div>

    <!-- adicionar tarefa -->
    <button onclick="my_modal_1.showModal()"
      class="btn-secondary btn border-none bg-eBlue capitalize text-white hover:bg-eDarkBlue">
      <img src="../../assets/square-plus 1.svg" alt="" srcset="" />
      Nova tarefa
    </button>
  </div>

  <!-- container stats -->
  <div class="mx-auto mt-8 flex w-full flex-wrap justify-between ">

    <!-- card -->
    <div class="stats w-35cent max-w-330 ">
      <div class="stat py-8 flex justify-between">
        <div>
          <div class="stat-value text-eBlack">{{ tasks.length }}</div>
          <div class="stat-desc text-eBlack">to do</div>
        </div>
        <!-- img -->
        <div>
          <img src="../../assets/dash-loading.svg" alt="" srcset="">
        </div>
      </div>
    </div>
    <!-- fim card -->

    <!-- card -->
    <div class="stats w-35cent max-w-330 ">
      <div class="stat py-8 flex justify-between">
        <div>
          <div class="stat-value text-eBlack">{{ numeroTarefasEmAndamento.length }}</div>
          <div class="stat-desc text-eBlack">doing</div>
        </div>
        <!-- img -->
        <div>
          <img src="../../assets/dash-dev.svg" alt="" srcset="">
        </div>
      </div>
    </div>
    <!-- fim card -->

    <!-- card -->
    <div class="stats w-35cent max-w-330 ">
      <div class="stat py-8 flex justify-between">
        <div>
          <div class="stat-value text-eBlack">{{ numeroTarefasConcluidas.length }}</div>
          <div class="stat-desc text-eBlack">done</div>
        </div>
        <!-- img -->
        <div>
          <img src="../../assets/dash-done.svg" alt="" srcset="">
        </div>
      </div>
    </div>
    <!-- fim card -->


  </div>


  <div class="mx-auto mt-8 flex w-full flex-wrap  ">
    grafico
  </div>


  <!-- modal criar tarefa -->
  <dialog id="my_modal_1" class="modal">
    <form method="dialog" class="modal-box">
      <!-- title -->
      <div class="flex items-center justify-center">
        <h3 class="modal-title-e text-lg font-bold text-eBlack">Criar tarefa</h3>
        <button id="closeBtn">
          <img class="close-x" src="../../assets/circle-xmark 1.svg" alt="" srcset="" />
        </button>
      </div>

      <!-- body -->
      <div class="w-full px-4">
        <div class="flex flex-col">
          <input [(ngModel)]="title" type="text" name="title" placeholder="Título da tarefa"
            class="input-bordered input mt-4 bg-white text-sm" />

          <textarea [(ngModel)]="description" name="description" class="textarea-bordered textarea mt-4"
            placeholder="Detalhes da tarefa"></textarea>

          <div class="flex w-full justify-between">
            <!-- prazo -->
            <input [(ngModel)]="prazo" name="prazo" type="date" placeholder="Prazo"
              class="w-48cent input-bordered input mt-4 bg-white" />

            <!-- prioridade -->
            <select [(ngModel)]="prioridade" name="prioridade" class="w-48cent select-bordered select mt-4 max-w-xs">
              <option disabled selected>Prioridade:</option>
              <option>Alta</option>
              <option>Média</option>
              <option>Baixa</option>
            </select>
          </div>

          <div class="flex w-full flex-wrap justify-between">
            <!-- responsavel -->
            <input [(ngModel)]="responsavel" name="responsavel" type="text" placeholder="Responsável"
              class="w-48cent input-bordered input mt-4 bg-white" />

            <!-- projeto -->
            <input [(ngModel)]="projeto" name="projeto" type="text" placeholder="Projeto"
              class="w-48cent input-bordered input mt-4 bg-white" />
          </div>

          <!-- status -->
          <select [(ngModel)]="status" name="status" class="select-bordered select mt-4 w-full">
            <option disabled selected>Status:</option>
            <option>Não iniciada</option>
            <option>Em andamento</option>
            <option>Concluída</option>
          </select>

          <!-- anexo -->
          <div class="mt-4 flex flex-col">
            <label for="dropzone-file"
              class="dark:hover:bg-bray-800 flex h-64 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100 ">
              <div class="flex flex-col items-center justify-center pb-6 pt-5">

                <img class="mb-3 h-10 w-10" src="../../assets/upload 1.svg" alt="" srcset="">

                <p class="mb-2 text-sm text-gray-500 ">
                  <span class="font-semibold">Anexar arquivo</span>
                </p>
                <p class="text-xs text-gray-500 ">A better way to tell which species are vulnerable</p>
              </div>
              <input id="dropzone-file" type="file" class="hidden" />
            </label>
          </div>
        </div>
      </div>

      <!-- footer -->
      <div class="modal-action justify-center gap-x-4">
        <button id="closeBtn"
          class="btn-secondary btn border-none bg-eDarkGrey capitalize text-eBlack hover:bg-eBlack hover:text-white">
          Cancelar
        </button>
        <a class="btn-secondary btn border-none bg-eBlue capitalize text-white hover:bg-eDarkBlue"
          (click)="createTask()">
          <img src="../../assets/square-plus 1.svg" alt="" srcset="" />
          Criar Tarefa
        </a>
      </div>
    </form>
  </dialog>

</div>



<!-- se nao estiver logado -->
<div *ngIf="!isLogged" class="container mx-auto flex h-screen w-full items-center justify-center">
  <app-loading></app-loading>
</div>