@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Plus Jakarta Sans;
}

.badge {
  color: white !important;
}

.badge-ghost {
  color: #4a5568 !important;
}

.screen80 {
  min-height: 80vh !important;
}